<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>conductor0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,165}}</string>
                <key>sourceSize</key>
                <string>{120,165}</string>
            </dict>
            <key>singer0.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{66,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,112}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>singer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{66,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,112}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>singer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{68,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,112}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>singer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{68,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,112}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>singer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{68,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,112}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>singer_high0.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{68,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,110}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>singer_high1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,0},{70,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,112}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>singer_low0.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{68,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,110}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>singer_low1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,0},{68,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,112}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>singer_low2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,0},{70,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,112}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>singer_stare0.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,0},{66,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,110}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>singer_stare1.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{68,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,110}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>singer_stare2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,0},{66,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,110}}</string>
                <key>sourceSize</key>
                <string>{70,112}</string>
            </dict>
            <key>touch0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,0},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture_atlas.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bf6f5819bebf3da99571ba334cd0f5b$</string>
            <key>textureFileName</key>
            <string>texture_atlas.png</string>
        </dict>
    </dict>
</plist>
