<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bgMusic</key>
	<string>sc</string>
	<key>bgMusicType</key>
	<string>mp3</string>
	<key>singersScrpitQueue</key>
	<array>
		<dict>
			<key>startedTime</key>
			<integer>2</integer>
			<key>duration</key>
			<real>0.5</real>
			<key>changeState</key>
			<string>GameCharacterStateSingLow0</string>
			<key>changeStateNum</key>
			<integer>3</integer>
			<key>singer</key>
			<string>singer0</string>
		</dict>
		<dict>
			<key>startedTime</key>
			<integer>3</integer>
			<key>duration</key>
			<real>0.5</real>
			<key>changeState</key>
			<string>GameCharacterStateSingLow1</string>
			<key>changeStateNum</key>
			<integer>4</integer>
			<key>singer</key>
			<string>singer1</string>
		</dict>
		<dict>
			<key>startedTime</key>
			<integer>10</integer>
			<key>duration</key>
			<integer>1</integer>
			<key>changeState</key>
			<string>GameCharacterStateSingHigh</string>
			<key>changeStateNum</key>
			<integer>5</integer>
			<key>singer</key>
			<string>singer0</string>
		</dict>
		<dict>
			<key>startedTime</key>
			<integer>10</integer>
			<key>duration</key>
			<integer>1</integer>
			<key>changeState</key>
			<string>GameCharacterStateSingHigh</string>
			<key>changeStateNum</key>
			<integer>5</integer>
			<key>singer</key>
			<string>singer1</string>
		</dict>
	</array>
	<key>playerScriptQueue</key>
	<array>
		<dict>
			<key>point</key>
			<integer>10</integer>
			<key>residual</key>
			<real>0.1</real>
			<key>startedTime</key>
			<integer>3</integer>
			<key>duration</key>
			<real>0.5</real>
			<key>changeState</key>
			<string>GameCharacterStateSingLow</string>
			<key>changeStateNum</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>soundScriptQueue</key>
	<array>
		<dict>
			<key>startedTime</key>
			<integer>9</integer>
			<key>duration</key>
			<real>0.1</real>
			<key>fileName</key>
			<string>a3.aiff</string>
		</dict>
	</array>
</dict>
</plist>
